.container {
  color: var(--grayish);
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.digit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 150px;
  color: var(--grayish);
  background-color: var(--darkblue);
}

.digit-container::after {
  width: 10px;
}

.digit {
  color: var(--softred);
  font-size: 6rem;
}

p {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
