@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "./App.css";
@import "./components/Countdown/Countdown.css";
@import "./components/Picture/Picture.css";

:root {
  font-family: "Red Hat Text", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  height: 100%;
  /* 
## Colors
*/
  --grayish: hsl(237, 18%, 59%);
  --softred: hsl(345, 95%, 68%);

  --white: hsl(0, 0%, 100%);
  --darkblue: hsl(236, 21%, 26%);
  --verydarkblue: hsl(235, 16%, 14%);
  --mostlyblack: hsl(234, 17%, 12%);
}

html {
  background-color: var(--mostlyblack);
  background-image: url("src/assets/images/bg-stars.svg");
}

/* body {
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("src/assets/images/pattern-hills.svg");
  background-size: contain;
} */
